.contact-area img {
    max-width: 100%;
    height: auto;
}
.contact-area section {
            padding: 30px 0;
           /* min-height: 100vh;*/
        }
        .contact-area ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
.contact-area {
    border-bottom: 1px solid red;
    margin-top: 5%;
    
}

.contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
    color: black;
}

.contact-content p::after {
    background: #F0A9A9;
    font-family:  'AngleciaProDisplay', sans-serif;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
}

.contact-content h6 {
    color: #8b9199;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-content span {
    color: #FE0000;
    margin: 0 10px;
}

.contact-social {
    margin-top: 30px;
}

.contact-social > ul {
    display: inline-flex;
}

.contact-social ul li a {
    border: 1px solid #8b9199;
    color: #8b9199;
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    padding-top: 7px;
    transition: all 0.4s ease 0s;
    width: 40px;
    
}

.contact-social ul li a:hover {
    border: 1px solid #FAB702;
    color: #FAB702;
}

.contact-content img {
    max-width: 210px;
}
 

section, footer {
    background: #F0A9A9;
    color: #FE0000;
    display: flex;
    justify-content: center;
    
    
}

footer p {
    padding: 40px 0;
    text-align: center;
    color: black;
    font-family:  'FrankRuhl', sans-serif;
}

footer img {
    width: 44px;
}


.footer-social li{
    position: relative;
    display: inline-block;
    margin-right: 9px;
  }
  .footer-social li:last-child{
    margin-right: 0px;
  }
  .footer-social li a{
    position: relative;
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    background: #FE0000;
    color: #F0A9A9;
    text-align: center;
    border-radius: 50%;
  }
  .footer-social li a:hover{
    color: #FE0000;
    background: #F0A9A9;
  }
  