@font-face {
  font-family: 'AngleciaProDisplay'; /* You can name it whatever you want */
  src: url('./assets/fonts/AngleciaProDisplay-Regular.otf') format('opentype');
}

 
@font-face {
  font-family: 'RobotoSerif'; /* You can name it whatever you want */
  src: url('./assets/fonts/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf') format('opentype');
}
 
@font-face {
  font-family: 'FrankRuhl'; /* You can name it whatever you want */
  src: url('./assets/fonts/FrankRuhlLibre-VariableFont_wght.ttf') format('opentype');
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

h1 {
  
  font-family: 'AngleciaProDisplay', sans-serif;
  color: black;
}

/*Navbar Style*/
.navbar {
  background-color: #F0A9A9;
  
}

.navbar-brand h1{
  font-size: 35px;
  font-weight: 900;
  margin-left: 10%;
  font-family: 'AngleciaProDisplay', sans-serif;
}

.flexSB {
  display: flex;
  justify-content: space-between;
  margin-right: 3%;
  
}
.icon {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  background-color: #FE0000;
  color: #F0A9A9;
  transition: 0.5s;
  
}
.icon:hover {
  cursor: pointer;
  background-color: #F0A9A9;
  color: #FE0000;
}


/* for the drowpdown ICON */
.dropdown-menu {
  position: absolute; /* Assurez-vous que la position est "absolute" */
  top: 100%; /* Positionnez-le sous le bouton */
  right: 3%;
  z-index: 1000;
  display: none; /* Masquez-le par défaut */
  float: left;
  min-width: 9rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: start;
  list-style: none;
  background-color: #fff; /* Couleur de fond */
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
}

.dropdown-menu.show {
  display: block; /* Affichez-le lorsque la classe "show" est présente */
  background-color: #ff202000;
  border-color: #21252900;
  
 
}


.dropdown-menu ul{
  display: flex;
  flex-direction: column;
 
  gap: .85rem;
 
  text-align: center;
  background-color: #ff2020a0;
  font-family:  'AngleciaProDisplay', sans-serif;
  transition: all .75s ease-in-out;
  list-style: none; 
}
.dropdown-item{
  text-decoration: none;
  
  
}


.dropdown-menu ul li a  {
  color: var(--primary_color);
  border-bottom: 1px solid transparent;    
  transition: all .5s ease-in;
  padding-bottom: .15rem;
  text-decoration: none;
}

.dropdown-menu ul li a:hover  {
  border-color: var(--primary_color);
}


/* hero Section style */

.heroTextStyle{
font-family: 'RobotoSerif', sans-serif;
}
/* offres section*/
.offres h1{
  font-family: 'FrankRuhl', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  
}



 
/* the abou page style */
.containerAbout{
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  /* max-width: 600px;*/
  width: 80%;
  text-align: justify;
  margin: 0;
  font-family: 'FrankRuhl', sans-serif;
}

.ulPartenariat li{
  margin-bottom: 1%;
}


/* login style */




.seConnecterStyle:hover{
  cursor: pointer;
  background-color: #F0A9A9;
  color: #FE0000;
}